<style type="text/css">
			ul {
			list-style: none;
			padding: 0;
			}
			header{
			margin-bottom: 75px;
			}
			.header__components {
			margin: 0 auto;
			max-width: 1350px;
		  	font-size: 20px;
		  	display: flex;
		  	justify-content: space-between;
			}
			.container {
			margin: 0 auto;
			max-width: 1660px;
			}
			footer {
			display: flex;
			justify-content: space-between;
			}
			.genres {
			list-style: inherit;
			text-align: left;
			}
			.alt{
			text-align: center;
			}
			.form-fields{
			height: 45px;
			width: 350px;
			margin-bottom: 10px;
			font-size: 20px;
			}
			.submit-button{
			height: 35px;
			width: 70px;
			font-size: 15px;
			}
</style>
