<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Главная</title>
		<style type="text/css">
			ul {
			list-style: none;
			padding: 0;
			}
			.header__components {
		  	display: inline-block;
		  	margin-bottom: 30px
			}
			.container {
			margin: 0 auto;
			max-width: 1660px;
			}
			footer {
			display: flex;
			justify-content: space-between;
			}
			.genres {
			list-style: inherit;
			text-align: left;
			}
			.alt{
			text-align: center;
			}
		</style>
	</head>
	<body class="landing">
		<div class="container">
		<!-- Header -->
			<header id="header" class="alt skel-layers-fixed">
				<h1><a href="/">HTML5 Website <span>ZagmakFilms</span></a></h1>
					<ul class="header__components">
						<li><a href="/">Главная</a></li>
						<li><a href="/genres/">Жанры</a></li>
						<li><a href="/films/">Фильмы</a></li>
					</ul>
			</header>
		{% block content %}{% endblock %}
		</div>
	</body>
</html>