{% extends 'base.html' %}

{% block content %}
<div class="alt">
    <h2>Login</h2>
    <form method="post" action="/login/">
        <ul>
            <li><input type="email" name="email" class="form-fields" placeholder="Email"/>
            </li>
            <li><input type="password" name="password" class="form-fields" placeholder="Password">
            </li>
            <li>
                <button type="submit" class="submit-button"> Log In</button>
            </li>
            {% if error %}
            <p style="color: red">{{ error }}</p>
            {% endif %}
        </ul>
    </form>
</div>
{% endblock %}